/*---VARIAVEIS--- */
:root {

    /* FUNDOS */
    --fundo-primario: #fcfaf5;
    --fundo-secundario: #e9e5da;

    /* VERDES */
    --texto-login: #afc496;
    --verde-medio: #919f88;
    --verde-cta: #5F6F52;
    --verde-texto: #3E4A3F;

    /* MARROMS */
    --marrom-selecao-item: #9f8675;
    --marrom-textos: #6E5A4F;

    /* NEUTROS */
    --branco: #ffffff;

    /* PRETO */
    --preto: #000;

    /* FONTES */
    --fonte-titulo: 'Playfair Display', serif;
    --fonte-texto: 'DM Sans', sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--fundo-primario);
    font-family: var(--fonte-texto);
    min-height: 100vh;
    display: flex;
    align-items: center;
}

p {
    font-family: var(--fonte-texto);
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: 0.08em;
    color: var(--marrom-textos);
    text-transform: uppercase;
}

.textos-2 {
    font-family: var(--fonte-titulo);
    font-size: 4.2rem;
    font-weight: 500;
    line-height: 1.2;
    color: var(--preto);
}

.textos-2 .destaque {
    color: var(--verde-cta);
    font-style: italic;
}

#carouselExampleIndicators {
    width: 100%;
    height: 30rem;
    border-radius: 2rem;
    overflow: hidden;
    margin-left: 1.5rem;
}

#carouselExampleIndicators img {
    width: 100%;
    height: 30rem;
    object-fit: cover;
}

.carousel-indicators [data-bs-target] {
    width: 1rem;
    height: 1rem;
    padding: 0;
    border-radius: 50%;
}

.carousel-control-prev-icon,.carousel-control-next-icon {
    width: 4rem;
    height: 4rem;
    border-radius: 100rem;
}

#botaoIntro {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 5rem;
    background-color: var(--verde-cta);

    font-family: var(--fonte-texto);
    font-size: 1.3rem;

    border-radius: 0.375rem;
    border-color: var(--verde-cta);

    width: 20rem;

    color: var(--branco);

    margin-bottom: 2rem;
}

#botaoIntro:hover {
    background-color: var(--verde-texto);
    color: var(--branco);
    transition: 0.3s;
}