:root {

    /* FUNDOS */
    --fundo-primario: #fcfaf5;
    --fundo-secundario: #e9e5da;

    /* VERDES */
    --texto-login: #afc496;
    --verde-medio: #919f88;
    --verde-cta: #5F6F52;
    --verde-texto: #3E4A3F;

    /* MARROMS */
    --marrom-selecao-item: #9f8675;
    --marrom-textos: #6E5A4F;

    /* NEUTROS */
    --branco: #ffffff;

    /* FONTES */
    --fonte-titulo: 'Playfair Display', serif;
    --fonte-texto: 'DM Sans', sans-serif;
}

       .navbar-custom {
            background-color: #FCFAF5; /* Fundo creme */
            border-bottom: 2px solid #D9D4C5 !important; /* Substitui a borda padrão do Bootstrap */
        }

        /* Estilo dos links do menu */
        .navbar-custom .nav-link {
            color: #000 !important; /* Cinza escuro */
            font-weight: 500;
            transition: color 0.3s ease;
            font-family: var(--fonte-texto);
        }

        /* Cor do link ao passar o mouse */
        .navbar-custom .nav-link:hover {
            color: #6b7c5a !important; /* Fica verde ao passar o mouse */
        }

        /* Estilo do botão de Cadastro/Login */
        .btn-marca {
            background-color: #5F6F52;
            color: #ffffff;
            font-weight: 500;
            border: none;
            transition: background-color 0.3s ease;
        }

        .btn-marca:hover {
            background-color: #4c5840;
            color: #ffffff;
        }

        /* Ajuste do tamanho da logo */
        .logo-custom {
            max-height: 53px;
        }